<script>
$(document).ready(function() {
  horizontalSelector([
    {id: "professor-selector", attribute: "instructor", form: { action: "/instructors/sign_up" }},
    {id: "student-selector", attribute: "student", form: { action: "/students/sign_up" }}
  ], {
    form_inputs: [{ id: "email_input", name: "email" }, { id: "password_input", name: "password" }],
    form_element: $("#registration-form"),
    bottom_element: $("#session-inputs"),
    first_selected: "jumbotron-form-sharp-top-left"
  });
});
</script>
<div class="jumbotron">
  <h1>Create an Account</h1>
  <div class="horizontal-selector">
    <div class="selector-option" id="professor-selector">
      <h3>Professor</h3>
    </div>
    <div class="selector-option" id="student-selector">
      <h3>Student</h3>
    </div>
  </div>
  <%= form_tag registration_path(:instructor), id: 'registration-form' do |f| %>
    <div class="jumbotron-form" id="session-inputs">
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>First Name</span></p>
        <div class="jumbotron-form-input"><%= text_field_tag :first_name %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Last Name</span></p>
        <div class="jumbotron-form-input"><%= text_field_tag :last_name %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Email</span></p>
        <div class="jumbotron-form-input"><%= text_field_tag 'instructor[email]', nil, id: 'email_input' %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Token</span></p>
        <div class="jumbotron-form-input"><%= text_field_tag :token %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Username</span></p>
        <div class="jumbotron-form-input"><%= text_field_tag :username %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Password</span></p>
        <div class="jumbotron-form-input"><%= password_field_tag 'instructor[password]', nil, id: 'password_input' %></div>
      </div>
    </div>
    <%= submit_tag 'Sign Up', class: 'button' %>
  <% end %>
</div>
