<div class="jumbotron">
  <h1>Sign In</h1>
  <%= form_tag login_path, id: 'session-form' do |f| %>
    <div class="jumbotron-form" id="session-inputs">
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Email<span></p>
        <div class="jumbotron-form-input"><%= text_field_tag 'email', nil, id: 'email_input' %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Password<span></p>
        <div class="jumbotron-form-input"><%= password_field_tag 'password', nil, id: 'password_input' %></div>
      </div>
    </div>
    <%= submit_tag 'Sign In', class: 'button' %>
  <% end %>
  <br />
  <%= link_to 'Sign Up', sign_up_path, class: 'button' %>
</div>
