<script>
$(document).ready(function() {
  // Start off hiding all exercises
  lessons = $(".lesson-container");
  for (var i = 0; i < lessons.length; ++i) {
    $(lessons[i]).find(".exercises").hide();
  }

  $(".expand-button").click(function(event) {
    button = $(event.currentTarget);
    if (button.html() == "-") {
      button.html("+");
    } else if (button.html() == "+") {
      button.html("-");
    }
    exerciseContainer = $(event.currentTarget).parent().find(".exercises");
    exerciseContainer.toggle();
  });
});
</script>
<p id="notice"><%= notice %></p>

<h1 class="heading"><%= @course.title %></h1>

<hr />

<% @lessons.each do |lesson| %>
  <div class="lesson-container" data-lessonid="<%= lesson.id %>">
    <button class="expand-button" data-lessonid="<%= lesson.id %>">+</button>
    <span><%= lesson.title %></span>
    <div class="exercises">
      <% lesson.exercises.each do |exercise| %>
        <div class="exercise-listing">
          <%= exercise.title %>
        </div>
      <% end %>
    </div>
    <hr />
  </div>
<% end %>
