<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course %>
</p>

<p>
  <strong>Value for order:</strong>
  <%= @lesson.value_for_order %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
