<% if instructor_signed_in? %>

  <h1 class="heading">Welcome, Professor.</h1>

  <% Course.all.in_groups_of 3, false do |group| %>
    <!-- Horizontal Line -->
    <% group.each do |course| %>
      <!-- Card -->
      <div class="card-3">
        <div class="card-image">
        </div>
        <p class="card-title"><%= link_to course.title, course_path(course) %></p>
      </div>
    <% end %>
    <br />
  <% end %>

<% elsif student_signed_in? %>

<h1 class="heading">Welcome, Student.</h1>

<% Course.all.in_groups_of 3, false do |group| %>
  <!-- Horizontal Line -->
  <% group.each do |course| %>
    <!-- Card -->
    <div class="card-3">
      <div class="card-image">
      </div>
      <p class="card-title"><%= link_to course.title, course_path(course) %></p>
    </div>
  <% end %>
  <br />
<% end %>

<% elsif admin_signed_in? %>

<h1 class="heading">Welcome, Admin.</h1>

<% Course.all.in_groups_of 3, false do |group| %>
  <!-- Horizontal Line -->
  <% group.each do |course| %>
    <!-- Card -->
    <div class="card-3">
      <div class="card-image">
      </div>
      <p class="card-title"><%= link_to course.title, course_path(course) %></p>
    </div>
  <% end %>
  <br />
<% end %>

<div class="card-3">
  <div class="card-image">
  </div>
  <p class="card-title"><%= link_to 'New Course', new_course_path %></p>
</div>

<% elsif developer_signed_in? %>

<h1 class="heading">Welcome, Developer.</h1>

<% @courses.in_groups_of 3, false do |group| %>
  <!-- Horizontal Line -->
  <% group.each do |course| %>
    <!-- Card -->
    <div class="card-3">
      <div class="card-image">
      </div>
      <p class="card-title"><%= link_to course.title, course_path(course) %></p>
    </div>
  <% end %>
  <br />
<% end %>

<% end %>
