<script>
//stolen from lesson index until we have slides object
$(document).ready(function() {
  // Start off hiding all exercises
  lessons = $(".lesson-container");
  for (var i = 0; i < lessons.length; ++i) {
    $(lessons[i]).find(".exercises").hide();
  }

  $(".expand-button").click(function(event) {
    button = $(event.currentTarget);
    if (button.html() == "-") {
      button.html("+");
    } else if (button.html() == "+") {
      button.html("-");
    }
    exerciseContainer = $(event.currentTarget).parent().find(".exercises");
    exerciseContainer.toggle();
  });
});
</script>


<hr />

<% @course.lessons.each do |lesson| %>
  <div class="lesson-container" data-lessonid="1">
    <button class="expand-button" data-lessonid="1">+</button>
    <%= link_to lesson.title, course_lesson_path(lesson) %>
    <div class="exercises">
      <% lesson.exercises.each do |exercise| %>
        <div class="exercise-listing">
          <%= link_to exercise.title, course_lesson_exercise_path(lesson, exercise) %>
        </div>
      <% end %>
      <div class="exercise-listing">
        <%= link_to "New Exercise", new_course_lesson_exercise_path(@course, lesson) %>
      </div>
    </div>
    <hr />
  </div>
<% end %>

<div class="lesson-container">
  <%= link_to 'New Lesson', new_course_lesson_path(@course) %>
</div>

<%= link_to 'Students', students_path(course: @course) %>

<p>Developers:</p>

<% @course.developers.each do |dev| %>
  <div class="user-listing">
    <%= link_to dev.user.name, developer_path(dev) %>
  </div>
<% end %>



<% if admin_signed_in? %>
<div>
  <%= link_to 'Edit Course Details', edit_course_path %>
  <%= link_to 'Delete Course', course_path, method: :delete %>
</div>
<% end %>
