<div class="sidebar-container">
  <div class="sidebar">
    <%= link_to organization_path do %>
      <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(organization_path) %>">
        <%= image_tag 'home-240.png' %>
        <p>Org</p>
      </div>
    <% end %>
    <%= link_to courses_path do %>
      <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(courses_path) %>">
        <%= image_tag 'grades-240.png' %>
        <p>Courses</p>
      </div>
    <% end %>
    <%= link_to user_path(current_user) do %>
      <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(user_path(current_user)) %>">
        <%= image_tag 'lessons-240.png' %>
        <p>Profile</p>
      </div>
    <% end %>
  </div>
</div>
