<div class="header">
  <span class="logo header-item"></span>
  <h1 class="header-item header-title"><%= link_to 'Code City', '#' %></h1>
  <span class="nav-right header-item">
    <%= link_to 'Log Out', destroy_student_session_path, method: :delete %>
    <%= link_to 'Speakers', '#' %>
    <%= link_to 'Bootcamps', '#' %>
    <%= link_to 'Start Up Team', '#' %>
    <span class="share-icons">
      <%= link_to image_tag('facebook-240.png'), 'https://www.facebook.com', class: 'share-icon' %>
      <%= link_to image_tag('instagram-240.png'), 'https://www.instagram.com', class: 'share-icon' %>
      <%= link_to image_tag('twitter-240.png'), 'https://www.twitter.com', class: 'share-icon' %>
      <%= link_to image_tag('youtube-240.png'), 'https://www.youtube.com', class: 'share-icon' %>
    </span>
  </span>
</div>
