<div class="sidebar-container">
  <div class="sidebar">
    <% if student_signed_in? %>
      <%= link_to root_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(root_path) %>">
          <%= image_tag 'home-240.png' %>
          <p>Home</p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if params[:controller] == 'lessons' %>">
          <%= image_tag 'lessons-240.png' %>
          <p>Lessons</p>
        </div>
      <% end %>
      <%= link_to exercises_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if params[:controller] == 'exercises' %>">
          <%= image_tag 'grades-240.png' %>
          <p>Grades</p>
        </div>
      <% end %>
    <% elsif instructor_signed_in? %>
      <!-- Most of these just have placeholders -->
      <%= link_to courses_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(courses_path) %>">
          <%= image_tag 'home-240.png' %>
          <p>Home</p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(root_path) %>">
          <%= image_tag 'home-240.png' %>
          <p>Slides</p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(root_path) %>">
          <%= image_tag 'home-240.png' %>
          <p>Students</p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(root_path) %>">
          <%= image_tag 'home-240.png' %>
          <p>Grades</p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="sidebar-icon <%= 'sidebar-icon-selected' if current_page?(root_path) %>">
          <%= image_tag 'home-240.png' %>
          <p>Past Classes</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
