<!DOCTYPE html>
<html>
  <head>
    <title>CodeCity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? %>
      <% #render 'layouts/sidebar' %>
      <%= render user_type_get(student: 'layouts/sidebar/student', instructor: 'layouts/sidebar/instructor', developer: 'layouts/sidebar/developer', admin: 'layouts/sidebar/admin') %>
    <% end %>
    <% if user_signed_in? %>
    <div class="content content-with-sidebar content-with-header">
    <% else %>
    <div class="content content-with-header">
    <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
